body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
  color: rgb(83, 75, 75);
}

h1 {
  font-family: "Oswald", sans-serif;
}
a {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
 font: fallback; color: rgb(167, 1, 78);
}
a:hover {
  background-color: rgb(180,12,90);
  text-decoration: underline;
}
p {
  font-family: "Fira Sans", sans-serif;
}
