#hero {
  height: 800px;
  background-image: url("/images/places/ocean.jpg");
  background-position: center; /*이미지 중앙으로*/
  background-size: cover; /*이미지 크기조정*/
}
#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8); /*배경색과 투명도 설정*/
  box-shadow: 2px 4px 8px rgb(68, 67, 67); /*그림자*/
  border-radius: 8px; /*둥글게*/
  text-align: center;
  padding: 50px 0; /*공간확보*/
  margin: 0 auto; /*윗쪽 중앙배치*/
  position: relative; /*위아래 변경가능*/
  top: 200px;
}
#hero-content h1 {
  color: white;
  text-transform: uppercase; /*대문자*/
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300; /*폰트 가볍고 무겁게*/
  margin-bottom: 32px;
}
#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
#hero-content a:hover {
  background-color: rgb(255, 238, 0); /*마우스 반응해서 색바꾸기*/
}
#highlights {
  padding: 24px;
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
  /*그라데이션 기능  deg는 각도 */
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}
#destinations {
  display: flex; /*한 박스안에 넣기*/
  width: 90%;
  margin: auto; /*중앙*/
  margin-bottom: 40px;
  justify-content: center; /*박스 중간에 공간확보*/
}
.destinations {
  margin: 0 20px;
  text-transform: uppercase; /*대문자*/
}
.destinations p {
  text-align: center;
  font-size: 24px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}

.destinations img {
  /*이미지*/
  height: 200px; /*높이조정*/
  width: 100%; /*너비 조정*/
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover; /*이미지 치수에 맞게 조절*/
}
.destinations strong {
  color: rgb(0, 160, 117);
}
